@use "sass:map";

.badge span {
  color: map.get($colors, "white");
  font-weight: 600;
  background-color: map.get($colors, "red");
  padding: 0.7rem 1.4rem;
  border-radius: 100rem;

  @media only screen and (max-width: map.get($breakpoints, "small")) {
    font-size: 1rem;
  }
}
