@use "sass:map";

button {
  font-family: $font-primary;
  border: 0;
  font-size: 2rem;
}

.btn,
.btn:link,
.btn:visited {
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 700;
  display: inline-block;
  padding: 1.4rem 2.6rem;
  border-radius: 10rem;
  color: map.get($colors, "black");

  @media only screen and (max-width: map.get($breakpoints, "small")) {
    padding: 0.3rem 1.1rem;
    font-size: 1rem;
  }
}

.btn-outline:link,
.btn-outline:visited {
  border: 1px solid map.get($colors, "gray-c");

  @media only screen and (max-width: map.get($breakpoints, "small")) {
    border: 0;
    padding: 0;
  }
}

.btn-primary {
  background-color: map.get($colors, "primary");
}

.btn-white {
  background-color: map.get($colors, "white");
}
