@use "sass:map";

.card {
  &.card-banner-benefit {
    display: flex;
    gap: 2rem;

    .card-img {
      width: 3.6rem;
      height: 3.6rem;
      border-radius: 1rem;
    }

    .card-content {
      font-size: 1.2rem;
      color: map.get($colors, "gray-e");
    }
  }

  &.card-product {
    position: relative;

    @media only screen and (max-width: map.get($breakpoints, "small")) {
      margin: 1rem auto;
    }

    .card-name {
      font-weight: 300;
      margin-top: 1.2rem;

      @media only screen and (max-width: map.get($breakpoints, "small")) {
        font-size: 1.5rem;
        margin-top: 0.5rem;
      }
    }

    .badge {
      position: absolute;
      top: 24px;
      left: 18px;
    }
  }

  &.card-benefit {
    @media only screen and (max-width: map.get($breakpoints, "small")) {
      display: flex;
      align-items: center;
      gap: 2rem;
    }

    .card-content {
      margin: 1rem 0;
      font-size: 1.4rem;
      font-weight: 300;
      color: map.get($colors, "gray-f");

      @media only screen and (max-width: map.get($breakpoints, "small")) {
        max-width: 90%;
        font-size: 1.2rem;
      }
    }

    .card-img {
      border-radius: 1rem;
      margin: 2rem 0;
    }

    .benefit-icon {
      width: 6.8rem;

      @media only screen and (max-width: map.get($breakpoints, "small")) {
        width: 8rem;
      }
    }
  }

  &.card-collection {
    position: relative;

    .card-content {
      position: absolute;
      left: 4rem;
      right: 4rem;
      bottom: 53px;
    }

    .card-name {
      color: map.get($colors, "white");
      font-size: 2.4rem;
      font-weight: 300;
      min-height: 9rem;
    }

    .card-img {
      filter: brightness(60%);
    }

    .badge {
      margin-bottom: 2rem;
    }
  }
}
