@use "sass:map";

.list-group {
  .list-group-item {
    margin: 1.2rem 0;
  }

  .list-group-link {
    color: var(--white-color);
    font-weight: 300;

    @media only screen and (max-width: map.get($breakpoints, "small")) {
      font-size: 1.8rem;
    }
  }
}
