@use "sass:map";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  @media only screen and (max-width: map.get($breakpoints, "small")) {
    font-size: 50%;
  }
}

body {
  font-family: $font-primary;
  background-color: map.get($colors, "white");
  color: map.get($colors, "black");
  font-size: map.get($font-size, "md");
  font-weight: 400;
  line-height: 1.6;
}

img {
  max-width: 100%;
}

button {
  font-family: $font-primary;
  border: 0;
  font-size: 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

::placeholder {
  font-family: $font-primary;
  font-weight: 300;
}
