@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

// Fonts
$font-primary: "Poppins", sans-serif;
$font-size-primary: 16px;
$font-size: (
  "xs": 11px,
  "sm": 13px,
  "md": 16px,
  "lg": 18px,
  "xl": 20px,
  "xxl": 24px,
);

// Colors
$colors: (
  "primary": #fbb03b,
  "secondary": #fff3df,
  "red": #ff0000,
  "white": #fff,
  "black": #333,
  "gray-a": #f6f6f6,
  "gray-b": #cecece,
  "gray-c": #c4c4c4,
  "gray-d": #ababab,
  "gray-e": #a8a8a8,
  "gray-f": #808080,
);

// Breakpoints
$breakpoints: (
  "small": 480px,
  "medium": 768px,
  "wide": 960px,
  "large": 1280px,
);
