@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

// Fonts
$font-primary: "Poppins", sans-serif;

// Colors
$primary-color: #fbb03b;
$secondary-color: #fff3df;
$red-color: #ff0000;
$white-color: #ffffff;
$black-color: #333333;
$gray: (
  "50": #f6f6f6,
  "100": #cecece,
  "200": #c4c4c4,
  "300": #ababab,
  "400": #a8a8a8,
  "500": #808080,
);

// Breakpoints
