.container {
  max-width: 1170px;
  padding: 0 10px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.row > * {
  width: 100%;
  max-width: 100%;
  padding: 0 10px;
}

.col {
  flex: 1;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.33%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.67%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.67%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.33%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.67%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.33%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.67%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

/* Space */

.my-2 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-5 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-10 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.mt-4 {
  margin-top: 16px;
}

.mt-12 {
  margin-top: 48px;
}

.mb-12 {
  margin-bottom: 48px;
}

.py-10 {
  padding-top: 48px;
  padding-bottom: 48px;
}
