@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* Variables */
:root {
  --primary-color: #fbb03b;
  --secondary-color: #fff3df;
  --red-color: #ff0000;
  --white-color: #ffffff;
  --black-color: #333333;
  --gray-50-color: #f6f6f6;
  --gray-100-color: #cecece;
  --gray-200-color: #c4c4c4;
  --gray-300-color: #ababab;
  --gray-400-color: #a8a8a8;
  --gray-500-color: #808080;
  --font-primary: "Poppins", sans-serif;
}

/* Initial setup */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--black-color);
  background-color: var(--white-color);
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 7.2rem;
  line-height: 1.1;
}

h3 {
  font-size: 3.2rem;
  font-weight: 300;
}

h4 {
  font-size: 1.6rem;
  font-weight: 600;
}

::placeholder {
  font-family: var(--font-primary);
  font-weight: 300;
}

/* Form */

.form {
  max-width: 100%;
}

.form-input {
  font-weight: 700;
  display: inline-block;
  padding: 1.4rem 2.6rem;
  border-radius: 10rem;
  border: 0;
}

/* Price */

.price {
  font-size: 2rem;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
}

.price.new-price {
  color: var(--red-color);
}

.price.old-price {
  color: var(--gray-100-color);
}

/* Section */

section {
  margin-bottom: 6rem;
}

.section-title {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.section-actions {
  position: absolute;
  top: 0;
  right: 0;
}

/* List group */

.list-group-item {
  margin: 1.2rem 0;
}

.list-group-link {
  color: var(--white-color);
  font-weight: 300;
}

/* Button */

button {
  font-family: var(--font-primary);
  border: 0;
  font-size: 2rem;
}

.btn,
.btn:link,
.btn:visited {
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 700;
  display: inline-block;
  padding: 1.4rem 2.6rem;
  border-radius: 10rem;
  color: var(--black-color);
}

.btn-outline:link,
.btn-outline:visited {
  border: 1px solid var(--gray-200-color);
}

.btn-primary {
  background-color: var(--primary-color);
}

.btn-white {
  background-color: var(--white-color);
}

/* Badge */

.badge span {
  color: var(--white-color);
  font-weight: 600;
  background-color: var(--red-color);
  padding: 0.7rem 1.4rem;
  border-radius: 100rem;
}

/* State */

.text-center {
  text-align: center;
}

/* Header */

header {
  position: absolute;
  width: 100%;
  top: 4rem;
  z-index: 100;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo-img {
  display: block;
  width: 14rem;
}

.nav-list,
.nav-actions-list {
  display: flex;
  align-items: center;
}

.nav-list {
  gap: 8rem;
}

.nav-link:link,
.nav-link:visited {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 1.8rem;
}

.nav-actions-list {
  gap: 2rem;
  justify-content: flex-end;
}

.btn-icon-img {
  width: 2rem;
  display: block;
}

/* Section banner */
.section-banner {
  background-image: url("./assets/hero-img.jpg"),
    linear-gradient(150deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 8rem;
  /* box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.2); */
}

.section-banner .banner-heading-box {
  padding: 20rem 0 30rem 8rem;
}

.section-banner .banner-heading {
  color: var(--white-color);
  margin-bottom: 2rem;
}

.section-banner .banner-heading span {
  display: block;
  color: var(--primary-color);
}

.section-banner .section-actions {
  position: relative;
}

.section-banner .banner-btn {
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--white-color);
  cursor: pointer;
}

.section-banner .banner-btn::before {
  content: "";
  display: inline-block;
  background: url("./assets/arrow.png");
  background-repeat: no-repeat;
  background-size: auto 1.25rem;
  background-position: center center;
  vertical-align: middle;
  background-color: var(--primary-color);
  height: 2.5rem;
  width: 2.5rem;
  padding: 1.8rem;
  margin-right: 2rem;
  border-radius: 10rem;
}

/* Benefit on banner section */

.banner-benefit::before {
  background-color: var(--white-color);
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: -100vw;
  display: block;
  border-radius: 0 5rem 0 0;
  z-index: -1;
}

.section-banner .banner-benefit {
  z-index: 1;
  position: absolute;
  bottom: 0;
  background-color: var(--white-color);
  padding: 4rem 7rem;
  border-radius: 0 5rem 0 0;
}

.card.card-banner-benefit {
  display: flex;
  gap: 2rem;
}

.card.card-banner-benefit .card-img {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 1rem;
}

.card.card-banner-benefit .card-content {
  font-size: 1.2rem;
  color: var(--gray-400-color);
}

/* Section collection */

.card.card-collection {
  position: relative;
}

.card.card-collection .card-content {
  position: absolute;
  left: 4rem;
  right: 4rem;
  bottom: 53px;
}

.card.card-collection .card-name {
  color: var(--white-color);
  font-size: 2.4rem;
  font-weight: 300;
  min-height: 9rem;
}

.card.card-collection .card-img {
  filter: brightness(70%);
}

.card.card-collection .badge {
  margin-bottom: 2rem;
}

/* Section product */

.section-product .container {
  position: relative;
}

.section-product .section-actions {
  right: 10px;
}

.card.card-product {
  position: relative;
}

.card.card-product .card-name {
  font-weight: 300;
  margin-top: 1.2rem;
}

.card.card-product .badge {
  position: absolute;
  top: 24px;
  left: 18px;
}

/* Section benefit */

.section-benefit {
  background-color: var(--gray-50-color);
}

.card.card-benefit .card-content {
  margin: 1rem 0;
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--gray-500-color);
}

.card.card-benefit .benefit-icon {
  width: 6.8rem;
}

.card.card-benefit .card-img {
  border-radius: 1rem;
  margin: 2rem 0;
}

/* Newsletter section */

.section-newsletter {
  background-image: url("./assets/newsletter.jpg"),
    linear-gradient(150deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
}

.section-newsletter .row {
  align-items: center;
}

.section-newsletter .section-title {
  color: var(--white-color);
  font-size: 2.4rem;
}

.newsletter-form {
  display: flex;
  gap: 3rem;
  width: 100%;
}

.newsletter-form .form-input {
  width: 100%;
}

/* Footer */

footer {
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 1.4rem;
}

.footer-logo-img {
  width: 14rem;
}

.footer-about {
  max-width: 38rem;
  margin: 2rem 0 4rem;
}

.footer-socials-icon {
  width: 1.6rem;
  margin-right: 3rem;
}

.footer-list {
  display: flex;
}

.footer-copyright {
  display: block;
  padding: 2.4rem 0;
  border-top: 1px solid var(--white-color);
  text-align: center;
  font-weight: 300;
}
