@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* Variables */
:root {
  --primary-color: #fbb03b;
  --secondary-color: #fff3df;
  --red-color: #ff0000;
  --white-color: #ffffff;
  --black-color: #333333;
  --gray-50-color: #f6f6f6;
  --gray-100-color: #cecece;
  --gray-200-color: #c4c4c4;
  --gray-300-color: #ababab;
  --gray-400-color: #a8a8a8;
  --gray-500-color: #808080;
  --font-primary: "Poppins", sans-serif;
}

/* Initial setup */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-primary);
  background-color: var(--white-color);
  color: var(--black-color);
  font-weight: 400;
  line-height: 1.6;
}

img {
  width: 100%;
}

button {
  font-family: var(--font-primary);
  border: 0;
  font-size: 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

::placeholder {
  font-family: var(--font-primary);
  font-weight: 300;
}

.section {
  padding: 5rem 0;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}

.row {
  display: flex;
}

.col {
  flex: 1;
}

.gx-5 {
  column-gap: 20px;
}

.gx-12 {
  column-gap: 48px;
}

.my-2 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-5 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-10 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.mt-4 {
  margin-top: 16px;
}

.mt-12 {
  margin-top: 48px;
}

.mb-12 {
  margin-bottom: 48px;
}

.py-10 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.form {
  width: 100%;
}

.form-input {
  font-weight: 700;
  display: inline-block;
  padding: 1.4rem 2.6rem;
  border-radius: 10rem;
  border: 0;
}

.card-price,
.card-price-discount,
.card-price-original {
  font-size: 2rem;
  font-weight: 400;
}

.card-price-discount {
  color: var(--red-color);
}

.card-price-original {
  color: var(--gray-100-color);
}

.card.card-product .card-name {
  font-size: 1.6rem;
  font-weight: 300;
}

.card.card-benefit .card-name {
  font-size: 1.6rem;
  font-weight: 600;
}

.card.card-benefit .card-content {
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--gray-500-color);
}

.card.card-benefit .benefit-icon {
  width: 6.8rem;
  background-color: ivory;
}

.justify-content-space-between {
  display: flex;
  justify-content: space-between;
}

.align-items-center {
  display: flex;
  align-items: center;
}

.section-title {
  font-size: 3.2rem;
  font-weight: 300;
}

.list-group-item {
  margin: 1.2rem 0;
}

.list-group-title {
  font-weight: 600;
}

.list-group-link {
  color: var(--white-color);
  font-weight: 300;
}

.btn,
.btn:link,
.btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 700;
  display: inline-block;
  padding: 1.4rem 2.6rem;
  border-radius: 10rem;
  color: var(--black-color);
}

.btn-outline:link,
.btn-outline:visited {
  border: 1px solid var(--gray-200-color);
}

.btn-primary {
  background-color: var(--primary-color);
}

.badge {
  position: absolute;
  background-color: var(--red-color);
  padding: 0.7rem 1.4rem;
  border-radius: 100rem;
}

.badge span {
  color: var(--white-color);
  font-weight: 600;
}

.text-center {
  text-align: center;
}

.text-white {
  color: var(--white-color);
}

.text-xl {
  font-size: 2.4rem;
}

.bg-gray-50 {
  background-color: var(--gray-50-color);
}

.bg-primary {
  background-color: var(--primary-color);
}

.newsletter {
  background-image: url("./assets/newsletter.jpg"),
    linear-gradient(150deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  background-blend-mode: overlay;
  background-size: cover;
}

.newsletter-form {
  display: flex;
  gap: 3rem;
  width: 100%;
}

.newsletter-input {
  width: 100%;
}

.newsletter-btn {
  margin-left: auto;
}

.footer {
  color: var(--white-color);
  font-size: 1.4rem;
}

.footer-logo-img {
  width: 14rem;
}

.footer-about {
  max-width: 38rem;
}

.footer-list {
  display: flex;
}

.footer-copy {
  padding: 2.4rem 0;
  border-top: 1px solid var(--white-color);
}

.footer-copy-text {
  text-align: center;
  font-weight: 300;
}

.footer-socials-list {
  display: flex;
  align-items: center;
  gap: 3.6rem;
}

.footer-socials-item {
  width: 1.8rem;
}

/* Section banner */
/* .banner {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 2rem;
}

.banner__box {
  position: relative;
  background-size: cover;
  background-blend-mode: overlay;
  width: 100%;
  padding-bottom: 65%;
}

.banner__content {
  position: absolute;
  top: 50%;
  left: 4rem;
  padding-right: 6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 50%;
}

.banner__btn {
  margin-top: auto;
  margin-bottom: 5rem;
}

.banner__badge {
  top: 40%;
  left: 4rem;
} */

/* Section products */
/* .products__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin: 3rem 0;
}

.products__card {
  position: relative;
}

.products__name {
  margin-top: 1.2rem;
  font-size: 1.6rem;
  font-weight: 300;
}

.products__badge {
  top: 2rem;
  left: 2rem;
}

.products__prices {
  display: flex;
  justify-content: space-between;
}

.products__price {
  font-size: 2rem;
}

.products__price--discount {
  color: var(--red-color);
}

.products__price--original {
  color: var(--gray-100-color);
}

/* Section features */
/*.features {
  background-color: var(--gray-50-color);
}

.features__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6rem;
  margin: 2rem 0;
}

.features__card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.features__bg {
  width: 7rem;
  height: 7rem;
  background-color: var(--white-color);
  margin: 2rem 0;
  border-radius: 1.2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.features__icon {
  width: 4rem;
}

.features__heading {
  font-size: 1.6rem;
  font-weight: 600;
}

.features__content {
  color: var(--gray-500-color);
  font-size: 1.4rem;
} */

/* Section newsletter */
/* .newsletter {
  background-image: url("./assets/newsletter.jpg"),
    linear-gradient(150deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  background-blend-mode: overlay;
  background-size: cover;
}

.newsletter__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  margin: 6rem 0;
}

.newsletter__form {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.newsletter__input {
  font-weight: 700;
  display: inline-block;
  padding: 1.2rem 2.3rem;
  border-radius: 10rem;
  border: 0;
} */
