$my: 2, 5, 10;
@each $i in $my {
  .my-#{$i} {
    margin-top: $i * 4px;
    margin-bottom: $i * 4px;
    @media only screen and (max-width: map-get($breakpoints, "medium")) {
      margin-top: $i * 1px;
      margin-bottom: $i * 1px;
    }
  }
}

$mt: 4, 12;
@each $i in $mt {
  .mt-#{$i} {
    margin-top: $i * 4px;
    @media only screen and (max-width: map-get($breakpoints, "medium")) {
      margin-top: $i * 1px;
    }
  }
}

$mb: 0, 12;
@each $i in $mb {
  .mb-#{$i} {
    margin-bottom: $i * 4px;
    @media only screen and (max-width: map-get($breakpoints, "medium")) {
      margin-bottom: $i * 1px;
    }
  }
}

$py: 10;
@each $i in $py {
  .py-#{$i} {
    padding-top: $i * 4px;
    padding-bottom: $i * 4px;
    @media only screen and (max-width: map-get($breakpoints, "medium")) {
      padding-top: $i * 1px;
      padding-bottom: $i * 1px;
    }
  }
}
