@use "sass:map";

footer {
  background-color: map.get($colors, "primary");
  color: map.get($colors, "white");
  font-size: 1.4rem;

  .footer-logo-img {
    width: 14rem;

    @media only screen and (max-width: map.get($breakpoints, "small")) {
      width: 20rem;
    }
  }

  .footer-about {
    max-width: 38rem;
    margin: 2rem 0 4rem;

    @media only screen and (max-width: map.get($breakpoints, "small")) {
      font-size: 1.7rem;
    }
  }

  .footer-socials {
    @media only screen and (max-width: map.get($breakpoints, "small")) {
      display: none;
    }
  }

  .footer-socials-icon {
    width: 1.6rem;
    margin-right: 3rem;
  }

  .footer-list {
    display: flex;

    .col-4 {
      @media only screen and (max-width: map.get($breakpoints, "small")) {
        margin-top: 2rem;
      }
    }
  }

  .footer-copyright {
    display: block;
    padding: 2.4rem 0;
    border-top: 1px solid map.get($colors, "white");
    text-align: center;
    font-weight: 300;

    @media only screen and (max-width: map.get($breakpoints, "small")) {
      font-size: 1.5rem;
    }
  }
}
