footer {
  background-color: map-get($colors, "primary");
  color: map-get($colors, "white");
  font-size: 1.4rem;
  .footer-logo-img {
    width: 14rem;
  }
  .footer-about {
    max-width: 38rem;
    margin: 2rem 0 4rem;
  }
  .footer-socials-icon {
    width: 1.6rem;
    margin-right: 3rem;
  }
  .footer-list {
    @extend %flex-row;
  }
  .footer-copyright {
    display: block;
    padding: 2.4rem 0;
    border-top: 1px solid map-get($colors, "white");
    text-align: center;
    font-weight: 300;
  }
}
@media only screen and (max-width: map-get($breakpoints, "medium")) {
  footer {
    padding-top: 2.4rem;
    .footer-logo-img {
      width: 16rem;
    }
    .footer-about {
      font-size: 1.4rem;
    }
    .footer-socials {
      display: none;
    }
    .footer-copyright {
      font-size: 1.2rem;
    }
    .list-group-title {
      margin-top: 1.6rem;
    }
  }
}
