@use "sass:map";

header {
  position: absolute;
  width: 100%;
  top: 4rem;
  z-index: 100;

  @media only screen and (max-width: map.get($breakpoints, "small")) {
    top: 0;
    background-color: map.get($colors, "white");
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar {
    .navbar-logo-img {
      width: 14rem;
      display: block;
    }

    .mobile-only {
      @include mobile-only;
    }

    .pc-only {
      @include pc-only;
    }
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 8rem;
    justify-content: center;

    .nav-link:link,
    .nav-link:visited {
      color: map.get($colors, "primary");
      font-weight: 600;
      font-size: 1.8rem;
    }

    @media only screen and (max-width: map.get($breakpoints, "small")) {
      display: none;
    }
  }

  .nav-actions {
    .nav-actions-list {
      display: flex;
      align-items: center;
      gap: 2rem;
      justify-content: flex-end;
    }

    .btn-icon-img {
      width: 2rem;
      display: block;
    }

    .mobile-only {
      @include mobile-only;
    }

    .pc-only {
      @include pc-only;
    }
  }
}
